<template>
        <li>
            <article class="slds-comment slds-media slds-hint-parent">
            <div class="slds-media__body">
                <header class="slds-media slds-media_center">
                <div class="slds-grid slds-grid_align-spread slds-has-flexi-truncate">
                    <p>
                        <b>{commentData.email} —
                        {commentData.name}</b>
                    </p>
                </div>
                </header>
                <div class="slds-comment__content slds-text-longform">
                    {commentData.body}
                </div>
                <footer>
                </footer>
            </div>
            </article>
        </li>
</template>