<template>
    <lightning-card>
        <template if:true={postData}>

            <!-- Top Pagination -->
            <lightning-layout>
                <lightning-layout-item size="10"></lightning-layout-item>
                <lightning-layout-item size="1">
                    <lightning-combobox
                        name="pageSelector"
                        label="Page"
                        value={currentPageLabel}
                        placeholder="1"
                        options={pageOptions}
                        onchange={handlePageSelect}
                        dropdown-alignment="auto">
                    </lightning-combobox>
                </lightning-layout-item>
                <lightning-layout-item size="1"></lightning-layout-item>
            </lightning-layout>

            <div class="slds-text-header_regular slds-align_absolute-center">
                <b>{pageLabel}</b>
            </div>

            <div class="slds-text-header_regular slds-align_absolute-center">
                <lightning-button-icon icon-name="utility:left" alternative-text="Previous Page" title="Previous Page" class="slds-m-horizontal_small"
                    onclick={handlePageChange} name="previous" disabled={previousDisabled}></lightning-button-icon>

                <lightning-button-icon icon-name="utility:right" alternative-text="Next Page" title="Next Page"  class="slds-m-horizontal_small"
                    onclick={handlePageChange} name="next" disabled={nextDisabled}></lightning-button-icon>
            </div>

            <!-- Posts -->
            <template for:each={displayedPosts} for:item="eachPost">
                <c-post-item key={eachPost.id} post-data={eachPost}></c-post-item>
            </template>

            <!-- Bottom Pagination -->
            <div class="slds-text-header_regular slds-align_absolute-center">
                <b>{pageLabel}</b>
            </div>

            <div class="slds-text-header_regular slds-align_absolute-center">
                <lightning-button-icon icon-name="utility:left" alternative-text="Previous Page" title="Previous Page" class="slds-m-horizontal_small"
                    onclick={handlePageChange} name="previous" disabled={previousDisabled}></lightning-button-icon>

                <lightning-button-icon icon-name="utility:right" alternative-text="Next Page" title="Next Page"  class="slds-m-horizontal_small"
                    onclick={handlePageChange} name="next" disabled={nextDisabled}></lightning-button-icon>
            </div>

            <lightning-layout>
                <lightning-layout-item size="10"></lightning-layout-item>
                <lightning-layout-item size="1">
                    <lightning-combobox
                        name="pageSelector"
                        label="Page"
                        value={currentPageLabel}
                        placeholder="1"
                        options={pageOptions}
                        onchange={handlePageSelect}
                        dropdown-alignment="auto">
                    </lightning-combobox>
                </lightning-layout-item>
                <lightning-layout-item size="1"></lightning-layout-item>
            </lightning-layout>

        </template>
    </lightning-card>

</template>