<template>
      <div class="slds-feed">
        <ul class="slds-feed__list">
            <li class="slds-feed__item">
                <article class="slds-post">
                    <header class="slds-post__header slds-media">
                      <div class="slds-media__body">
                        <div class="slds-grid slds-grid_align-spread slds-has-flexi-truncate">
                          <p>
                            <b>Poster {postData.userId} —
                            {postData.title}</b>
                          </p>
                          <lightning-button-icon icon-name={commentsIcon} alternative-text="Show Comments" title="Show Comments" onclick={handleShowComments}></lightning-button-icon>
                        </div>
                      </div>
                    </header>
                    <div class="slds-post__content slds-text-longform">
                      <p>{postData.body}</p>
                    </div>
                </article>
                <template if:true={showComments}>
                    <div class="slds-feed__item-comments">
                        <ul>
                            <template for:each={postData.comments} for:item="eachComment">
                                <c-comment-item key={eachComment.id} comment-data={eachComment}></c-comment-item>
                            </template>
                        </ul>
                    </div>
                </template>
            </li>
        </ul>
      </div>
</template>